.header {
  width: 100%;
  background: #1c1e21;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0.6rem;
  overflow: hidden;
  box-sizing: border-box;
}
/* #18191a */
